<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2>List of people</h2>
<div th:each="person : ${personDaoModel}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getDateOfBirth()}">user</a>
</div>

<br/>
<hr/>

<a href="/people/new">Create new person</a>
<br/>
<a href="/books/new">Create new book</a>
<br/>
<a href="/books">List of books</a>

</body>
</html>