<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2>Список читатаелей</h2>
<div th:each="person : ${personDaoModel}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getDateOfBirth()}">user</a>
</div>

<br/>
<hr/>

<a href="/people/new">Добавить читателя</a>
<br/>
<a href="/books/new">Добавить книгу</a>
<br/>
<a href="/books">Список книг</a>

</body>
</html>