<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2>List of books</h2>
<div th:each="book : ${bookDaoModel}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor()+ ', ' + book.getDateOfWriting()}">user</a>
</div>

<br/>
<hr/>

<a href="/books/new">Create new book</a>
<br/>
<a href="/people/new">Create new person</a>
<br/>
<a href="/people">List of people</a>

</body>
</html>