<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Название книги: ' + book.getTitle()}">VALUE</p>
<p th:text="${ 'Автор: ' + book.getAuthor()}">VALUE</p>
<p th:text="${ 'Дата написания книги: ' + book.getDateOfWriting()}">VALUE</p>
<p th:text="${'Порядковый номер: ' +book.getId()}">VALUE</p>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>